<article class="pokemon-card" id="__ID__">
    <div class="pokemon-image">
        <img src="images/__NAME__.png" alt="__NAME__" title="__NAME__">
    </div>
    <section class="pokemon-details">
        <header>__HEADER__</header>
        <div class="types">
            __TYPES__
        </div>
    </section>
    <table class="stats">
        <tr>
            <th>Weight</th>
            <td>__WEIGHT__</td>
        </tr>
        <tr>
            <th>Base XP</th>
            <td>__XP__</td>
        </tr>
        <tr>
            <th>HP</th>
            <td>__HP__</td>
        </tr>
        <tr>
            <th>Attack</th>
            <td>__ATTACK__</td>
        </tr>
        <tr>
            <th>Defense</th>
            <td>__DEFENSE__</td>
        </tr>
        <tr>
            <th>Speed</th>
            <td>__SPEED__</td>
        </tr>
    </table>
</article>